<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans SYSTEM "jar:spring-2.0.6.jar:org/springframework/beans/factory/xml/spring-beans.dtd">

<beans>

	<import resource="classpath:spring/metadata-datasource.xml" />
	<import resource="classpath:spring/metadata-dao.xml" />
	<import resource="classpath:spring/metadata-beans.xml" />
</beans>

